* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(24, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    color: white;
    text-align: center;
    padding: 1.25rem;
    font-size: 25vw;
    color: rgb(81, 81, 81);
    position: fixed;
    bottom: -28%;
    left: 0%;
    z-index: -1;
}

.search {
    margin: 1.25rem;
    display: flex;
}

.search input[type="City"] {
    padding: 0.625rem;
    font-size: 1rem;
    border: none;
    height: 7vh;
    width: 20vw;
    color: rgb(81, 81, 81);
    background-color: rgb(11, 11, 11);
}

.search button {
    display: none;
}

.btn {
    cursor: pointer;
}

.btn img {
    padding: 0.4375rem;
    font-size: 1rem;
    border: none;
    height: 7vh;
    width: 7vh;
    color: black;
    background-color: none;
    cursor: pointer;
}

/* Brutalist Weather Widget */
.weather-widget {
    margin: 0.625rem 1.25rem;
    max-width: 53rem;
    width: 80%;
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.top-left {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1.5625rem;
}

.city-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.city-name {
    font-size: 4rem;
    font-weight: 400;
    color: rgb(81, 81, 81);
    line-height: 1;
}

.region {
    font-size: 1rem;
    color: rgb(81, 81, 81);
    margin-top: 0.625rem;
}

.date-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1.25rem;
}

.date-day {
    font-size: 4rem;
    font-weight: 400;
    color: rgb(81, 81, 81);
    line-height: 1;
}

.date-month {
    font-size: 2.625rem;
    font-weight: 400;
    color: rgb(81, 81, 81);
}

.bottom-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.temp-section {
    padding: 1.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.temperature {
    font-size: 5.625rem;
    font-weight: 400;
    color: rgb(81, 81, 81);
    line-height: 1;
    position: relative;
}

.temperature sup {
    font-size: 1.25rem;
    position: absolute;
    top: 0.625rem;
}

.temp-label {
    font-size: 1rem;
    color: rgb(81, 81, 81);
    margin-top: 0.625rem;
}

.time-section {
    padding: 1.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-hour,
.time-minute {
    font-size: 4rem;
    font-weight: 400;
    color: rgb(81, 81, 81);
    line-height: 1;
}

.time-label {
    font-size: 1rem;
    color: rgb(81, 81, 81);
    margin-top: 0.625rem;
}

.right-section {
    display: flex;
    flex-direction: column;
}

.icon-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}

.weather-icon-box {
    width: 8.75rem;
    height: 8.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon-box img {
    width: 5.625rem;
    height: 5.625rem;
}

.weather-icon-box span {
    color: rgb(81, 81, 81);
    font-size: 0.75rem;
    text-align: center;
}

.condition-section {
    flex: 1;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.condition-text {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(81, 81, 81);
    text-align: center;
    line-height: 1.3;
    margin-bottom: 1.5625rem;
}

.coordinates {
    font-size: 0.875rem;
    color: rgb(81, 81, 81);
    text-align: center;
}

.coordinates p {
    margin: 0.1875rem 0;
}

.error-message {
    color: #ff6b6b;
    text-align: center;
    padding: 0.625rem;
    display: none;
}

.loading {
    opacity: 0.5;
}

@media (max-width: 48rem) {
    .main-grid {
        grid-template-columns: 1fr;
    }

    .left-section {
        border-right: none;
        border-bottom: 0.0625rem solid rgb(60, 60, 60);
    }

    .city-name,
    .date-day {
        font-size: 2.625rem;
    }

    .date-month {
        font-size: 1.75rem;
    }

    .temperature {
        font-size: 3.75rem;
    }

    .time-hour,
    .time-minute {
        font-size: 2.625rem;
    }

    .search input[type="City"] {
        width: 50vw;
    }
}
